/* optimisation */
#game-over,
.rules {
    font-family: "JotiOne";
    position: absolute;
    flex-flow: column;
    opacity: 0.9;
    visibility: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}
/* espace fin du jeu */
#game-over {
    top: 0;
    width: 400px;
    padding: 0 50%;
}
/* règles du jeu */
.rules {
    background: rgb(37, 23, 70);
    color: #9ab9c2;
    width: 492px;
    padding: 8px;
    border-radius: 6px;
    transition: visibility 400ms;
    top: 690px;
    left: 30%; right: 30%;
}
.rules p {
    margin: 0 auto .5rem auto;
}
/* espace jeux*/
#gameSpace {
    position: relative;
    top: 30px;
    width: 600px; height: 550px;
    box-sizing: border-box;
    background: black url(../images/background-game.png) no-repeat center;
    margin: 0 auto;
    border: 3px solid #da87f1;
    border-style: inset inset none inset;
    border-radius: 5px;
}
#paddle {
    position: absolute;
    bottom: 30px;
    left: 250px;
    width: 100px; height: 20px;
    border-radius: 10px;
    background: #da87f1 url(../images/49-Breakout-Tiles.png) no-repeat center/100%;
}
#ball {
    position: absolute;
    left: 285px;
    bottom: 100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(../images/momo.png) center;
}
.brick {
    position: absolute;
    border: 1px solid #fff;
    border-style: outset;
    border-radius: 3px;
    background: #999 url(../images/brick.jpg) no-repeat center;
}