* {box-sizing: border-box;}
body {margin: 0; padding: 0}
/* importer police */
@font-face {
    font-family: "digital";
    src: url("../fonts/digital/DIGITALDREAM.ttf");
}
@font-face {
    font-family: "JotiOne";
    src: url("../fonts/joti/JotiOne-Regular.ttf");
}

/* redimmentionnement des images */
.game-over-img {
    width: 150px;
}
#sound-icon {
    width: 30px;
}
.white {
    border: 1px solid #fff;
    color: #fff;
}