* {box-sizing: border-box;}
body {margin: 0; padding: 0}
/* importer police */
@font-face {
    font-family: "digital";
    src:
    local("DIGITALDREAM"),
    url("../fonts/DIGITALDREAM.ttf") format("opentype") tech(color-COLRv1),
    url("../fonts/DIGITALDREAM.ttf") format("opentype"),
    url("../fonts/DIGITALDREAM.ttf") format("woff");
}
/* espace pour le jeu */
.game {
    background: #020;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
/* redimmentionnement des images */
.game-over-img {
    width: 150px;
}
/* espace fin du jeu */
#game-over {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 250px;
    height: 300px;
    visibility: hidden;
    opacity: 0;
}
/* boutton restart */
#restart {
    color: #9ab2c3;
    cursor: pointer;
    padding: 4px 8px;
    line-height: 1.5;
    border: 1px solid #b19ac2;
    border-radius: 4px;
    text-align: center;
    transition: .1s ease-in-out;
}
#restart:hover {
    background: #2B2;
}
/* audio */
.sound-container {
    position: absolute;
    top: 50%;
    right: 15%;
}
.sound-container img {
    width: 40px;
    height: auto;
    transition: .1s ease-in-out;
}
.sound-container:hover {
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .5);
}
/* espace du jeu */
canvas {
    background: black; /* possible d'importer une image ici */
    display: block;
    border-radius: 4px;
}
/* Bouttons */
.btn {
    cursor: pointer;
    background-color: #6B6;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-family: gruppo, sans-serif;
    transition: background-color .1s ease-in;
}
.btn:hover {
    background-color: #6F6;
}
.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(.98);
}
.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}
/* règles du jeu */
.rules p {
    margin-bottom: .5rem;
    margin-top: 0;
}