* {box-sizing: border-box;}
body {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    background: #12021f
}

/* importer police */
@font-face { font-family: "digital"; src: url("../fonts/digital/DIGITALDREAM.ttf");}
@font-face { font-family: "JotiOne"; src: url("../fonts/joti/JotiOne-Regular.ttf");}

/* redimmentionnement des images */
.game-over-img {
    width: 250px;
}
#sound-icon {
    width: 30px;
}
.white {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    padding : 0 5px;
}
.game-informations {
    font-family: "digital";
    position: absolute;
    top: 0;
    height: 30px;
    margin: 5px auto 0 auto; padding: 0 42%;
    font-size: 25px;
    color: #3ac4f2;
}
.game-informations img {
    vertical-align: top;
    max-height: 25px;
}

.show {visibility: visible !important;}